
#main {
  margin: 20px;
}

table {
    border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 5px;
}

#calendar td {
  vertical-align: top;
  min-width: 40px;
  height: 40px;
}

.compet a {
  display: block;
}

.compet {
  color: red;
}

.today {
  border: 4px solid red;
}

.holliday {
  background-color: green;
  color: white;
}

.workout {
  color: green;
}

#calendar-previous, #calendar-next {
  cursor: pointer;
}